<h1>Dashboard</h1>
<h2>My Events</h2>
<%= link_to 'All Events', events_path %>
<ul>
<% @events.each do |event| %>
  <li>
    <%= link_to event['title'], event_path(event['objectId']) %>
  </li>
<% end %>
</ul>
